<!-- Länder -->
<p-table #table
         [value]="emissionsCountries"
         [rows]="10"
         [paginator]="true"
         [globalFilterFields]="['name', 'emissionMt', 'growthRate', 'worldShare']"
>
  <ng-template pTemplate="caption">
    <div>
      <h3>CO2-Emissionen nach Land</h3>
    </div>
    <div class="p-d-flex p-jc-between p-ai-center">
              <span class="p-input-icon-left">
                <i class="pi pi-search datatable-header-search-icon"></i>
                <input pInputText type="text" (input)="table.filterGlobal($any($event.target).value, 'contains')"
                       placeholder="Suchen">
              </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">Land
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="emissionMt">Emissionen (Mio. t)
        <p-sortIcon field="emissionMt"></p-sortIcon>
      </th>
      <th pSortableColumn="growthRate">Wachstumsrate (%)
        <p-sortIcon field="growthRate"></p-sortIcon>
      </th>
      <th pSortableColumn="worldShare">Weltanteil (%)
        <p-sortIcon field="worldShare"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-emission>
    <tr>
      <td>
        <div class="famfamfam-flags {{ emission.countryCode}}"></div>
        <span>{{ emission.name }}</span>
      </td>
      <td>{{ emission.emissionMt }}</td>
      <td [ngClass]="{
                  'negative' : emission.growthRate > 0,
                  'positive' : emission.growthRate < 0
               }">
        {{ emission.growthRate }} %</td>
      <td>{{ emission.worldShare }} %</td>
    </tr>
  </ng-template>
</p-table>

<section class="cta">
  <h2 class="main-heading">Lorem ipsum</h2>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</section>

<!-- Unternehmen -->
<p-table #table
         [value]="emissionsCompany"
         [rows]="10"
         [globalFilterFields]="['name', 'emissionMt', 'industry', 'headquarters']"
         [rowsPerPageOptions]="[5,10,20]"
>
  <ng-template pTemplate="caption">
    <div>
      <h3>CO2-Emissionen nach Unternehmen</h3>
    </div>
    <div class="p-d-flex p-jc-between p-ai-center">
              <span class="p-input-icon-left">
                <i class="pi pi-search datatable-header-search-icon"></i>
                <input pInputText type="text" (input)="table.filterGlobal($any($event.target).value, 'contains')"
                       placeholder="Suchen">
              </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">Unternehmen
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="emissionMt">Emissionen (Mio. t)
        <p-sortIcon field="emissionMt"></p-sortIcon>
      </th>
      <th pSortableColumn="industry">Industriezweig
        <p-sortIcon field="industry"></p-sortIcon>
      </th>
      <th pSortableColumn="headquarters">Hauptsitz
        <p-sortIcon field="headquarters"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-emission>
    <tr>
      <td>{{ emission.name }}</td>
      <td>{{ emission.emissionMt }}</td>
      <td>{{ emission.industry }}</td>
      <td><div class="famfamfam-flags {{ emission.countryCode}}"></div>
        <span>{{ emission.headquarters }}</span>
      </td>
    </tr>
  </ng-template>
</p-table>
