<section class="wrapper" style="margin-top: 4em; margin-bottom: 3em">
  <span class="subheading-section">
    <img class="subheading-icon" src="assets/images/icon-plant.png">
  <h4 class="subheading">Unsere Mission</h4>
  </span>
  <h2 id="mission" class="main-heading">Was macht GreenTrace?</h2>
  <div class="heading-underline"></div>
  <h4 class="subheading-paragraph">Lorem Ipsum</h4>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
  <h4 class="subheading-paragraph">Lorem Ipsum</h4>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</section>

<section class="wrapper">
  <span class="subheading-section">
    <img class="subheading-icon" src="assets/images/icon-factory.png">
    <h4 class="subheading">Zahlen & Fakten</h4>
  </span>
  <h2 id="datatables" class="main-heading">CO₂-Emissionen im Überblick</h2>
  <div class="heading-underline"></div>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
  <p>Vergleichen, filtern und sortieren Sie die größten Verursacher des globalen CO₂-Ausstoßes.</p>
  <app-data-table></app-data-table>
</section>

<section class="wrapper" style="margin-bottom: 3em">
  <span class="subheading-section">
    <img class="subheading-icon" src="assets/images/icon-plant.png">
  <h4 class="subheading">Kontakt</h4>
  </span>
  <h2 id="contact" class="main-heading">Lassen Sie uns ins Gespräch kommen</h2>
  <div class="heading-underline"></div>
  <p>GreenTrace lebt vom Austausch – mit Bürger:innen, Organisationen und Entscheidungsträger:innen. Kontaktieren Sie uns, wenn Sie etwas bewegen wollen.</p>
  <button class="contact-btn">Jetzt Kontakt aufnehmen</button>
  </section>
