
section {
  padding-top: 25px;
  padding-bottom: 25px;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


